<div class="social-panel">
	<div class="buttons">
		{{! Link on Twitter, change to your account}}
		<a href="https://github.com/jgenung" class="btn" target="_blank">
			<img alt="" src="/assets/img/github.png" width="40"/>
		</a>

		{{! Link on Facebook, change to your account}}
		<a href="https://www.linkedin.com/in/jordanmgenung" class="btn" target="_blank">
			<img alt="" src="/assets/img/linkedin.png" width="40"/>
		</a>

		{{! Link on Google+, change to your account}}
		<a href="https://www.youtube.com/channel/UCD5b3VfsLCesmiGhGKMAHTg" class="btn" target="_blank">
			<img alt="" src="/assets/img/youtube.png" width="40"/>
		</a>
	</div>
</div>