{{! In order to display top menu, change style="display:none" to style="display:block"}}
<div style="display:none">
	<div class="menu_top">
		<a class="toggle-mobile-menu" id="responsive-menu-button" href="#">MENU <i class="fa"></i></a>

		<div id="menu">
			{{! insert your links there}}
			<ul class="inner">
				<li><a href="/">Blog</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact-us/">Contact us</a></li>
				<!-- =====Example links =====
			    <li><a href="/about/">About</a></li>
			    <li><a href="/contact-us/">Contact us</a></li>
				-->
			</ul>
		</div>
	</div>
</div>